node_modules/
dist/
build/
*.log
logs/
.env
.env.local
.env.*.local
coverage/
.nyc_output/
*.swp
*.swo
.DS_Store
.vscode/
.idea/
*.iml
.vagrant/
Thumbs.db
*.pid
*.seed
*.pid.lock
.npm
.eslintcache
.node_repl_history
*.tgz
.yarn-integrity
